+++
title = "DNA"
linkTitle = "Home"

+++

{{< blocks/cover title="Bem-vindo ao site da disciplina "Visualização de Dados para Publicações Científicas"! Turma atualmente em andamento no segundo semestre de 2022." image_anchor="top" height="full" color="black" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/sobre" >}}">
		Saiba mais! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/inscricoes" >}}">
		Acesse o material complementar! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Explorando técnicas e ferramentas de visualização de dados em diversas abordagens!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
A disciplina de Visualização de Dados para Publicações Científicas é promovida e ofertada pelo Programa de Pós-Graduação em Genética e pelo Laboratório de Bioprospecção e Genética Molecular de Microrganismos, ambos localizados no Departamento de Genética da Universidade Federal do Paraná (UFPR, Curitiba, Brasil). 
<p>
Nosso principal objetivo é fornecer à você os conhecimentos e ferramentas necessárias para visualização de dados e elaboração de figuras para publicações científicas nos mais diversos contextos!
{{% /blocks/lead %}}

{{< blocks/section color="light" type="features">}}
{{% blocks/feature icon="fa-chart-pie-simple" title="Princípios gerais de visualização de dados" url="/sobre" %}}
Vamos conhecer os princípios que norteiam as boas práticas de visualização de dados!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-laptop-code" title="Ferramentas para elaboração de figuras e gráficos" url="/sobre" %}}
Vamos explorar as diferentes metodologias e softwares disponíveis para visualização de dados!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-chart-candlestick" title="Figuras para publicações científicas" url="/sobre" %}}
Vamos explorar diferentes tipos de figuras e gráficos em vários contextos e aplicações!
{{% /blocks/feature %}}


{{< /blocks/section >}}

